@font-face {
    font-family: 'RalewayExtraLight';
    src: url('public/fonts/Raleway-ExtraLight.ttf') format('ttf'),
    url('public/fonts/Raleway-ExtraLight.ttf') format('truetype');
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

body {
    font-family: 'RalewayExtraLight', 'Helvetica Neue', 'Arial', sans-serif;
    text-align: center;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

.link {
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.row:nth-of-type(1) {
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
}

.cell[data-row="0"][data-col="0"] {
    border-top-left-radius: 25px;
}

.cell[data-row="2"][data-col="0"] {
    border-bottom-left-radius: 25px;
}

.cell[data-row="0"][data-col="2"] {
    border-top-right-radius: 25px;
}

.cell[data-row="2"][data-col="2"] {
    border-bottom-right-radius: 25px;
}

.cell:hover, .cell:active {
    background-color: rgb(221, 221, 221);
}

.hide  {
    display: none;
}

#description {
    max-width: 500px;
    border: 1px solid black;
    font-weight: 600;
    border-radius: 25px;
    margin: 20px auto 0;
    padding: 0 20px;
}
